.card{
  height:400px;
  width: 200px;
  border: 3px solid black;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  border-radius: 0 4px 8px black;
  transition: 1s;
  background-color: yellow;
}

.desc{
  padding: 0 4px 0 4px;
}

img{
  width: 200px;
  height:280PX;
  border-radius: 5px 5p 0 0;

}

.card:hover{
  box-shadow: 0 8px 16px goldenrod;
}